# Betaflight / SPRF3 Unified Target
board_name SPRF3
manufacturer_id SPRO

# resources
resource BEEPER 1 C15
resource MOTOR 1 A6
resource MOTOR 2 A7
resource MOTOR 3 A11
resource MOTOR 4 A12
resource MOTOR 5 B8
resource MOTOR 6 B9
resource MOTOR 7 A2
resource MOTOR 8 A3
resource LED_STRIP 1 A8
resource SERIAL_TX 1 A9
resource SERIAL_RX 1 A10
resource SERIAL_TX 2 A14
resource SERIAL_RX 2 A15
resource SERIAL_TX 3 B10
resource SERIAL_RX 3 B11
resource I2C_SCL 1 B6
resource I2C_SDA 1 B7
resource SPI_SCK 2 B13
resource SPI_MISO 2 B14
resource SPI_MOSI 2 B15
resource ADC_BATT 1 A4
resource ADC_CURR 1 A5
resource ADC_RSSI 1 B2
resource FLASH_CS 1 B12

# timer
timer A00 AF1
timer A01 AF1
timer B11 AF1
timer B10 AF1
timer B4 AF2
timer B5 AF2
timer B0 AF2
timer B1 AF2
timer A6 AF1
timer A7 AF1
timer A11 AF10
timer A12 AF10
timer B8 AF2
timer B9 AF2
timer A2 AF1
timer A3 AF1
timer A8 AF6

# dma
dma ADC 1 0
dma TIMUP 1 0
dma TIMUP 2 0
dma TIMUP 3 0
dma TIMUP 4 0
dma pin A00 0
dma pin A01 1
dma pin A2 2
dma pin A3 3
dma pin B4 4
dma pin B5 5
dma pin B0 6
dma pin B1 7

# master
set gyro_to_use = FIRST
set mag_bustype = I2C
set mag_i2c_device = 1
set mag_i2c_address = 0
set baro_bustype = NONE
set adc_device = 1
set blackbox_device = SPIFLASH
set current_meter = ADC
set battery_meter = ADC
set beeper_inversion = ON
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW0
